@import 'libs/font';


* {
    font-family: 'Roboto', sans-serif;
}

.container {
    min-width: 1140px;
    margin: 0 auto;
}

@import 'bloks/nav';
@import 'bloks/logo';
@import 'bloks/info';
@import 'bloks/promo';