@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/animate';
@import 'libs/slick';
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
}

@import 'blocks/nav';
@import 'blocks/logo';
@import 'blocks/info';
@import 'blocks/promo';
@import 'blocks/reviews';
@import 'blocks/promp-video';
@import 'blocks/clients';
@import 'blocks/footer';
@import 'blocks/buttons';