.btn {
    display: block;
    width: 153px;
    height: 38px;
    background-color: #e8d8b6;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #323232;
    border: none;
    &__nav {
        &:hover {
            text-decoration: none;
            color: lighten(#e8d8b6, 30%);
            text-decoration: underline;
        }
    }
    &--logo {
        background-color: #c99c47;
        color: #ffffff;
        &:hover {
            text-decoration: none;
            color: lighten(#323232, 30%);
            text-decoration: underline;
        }
    }
    &__promo {
        width: 120px;
        display: block;
        margin: 0 auto;
        background-color: #d4c198;
        font-size: 13px;
        color: #ffffff;
    }
    &__register {
        height: 42px;
        margin-right: 15px;
        background-color: #c99c47;
        font-size: 13px;
        color: #ffffff;
    }
    &__subscribe {
        height: 42px;
        background-color: #323232;
        font-size: 13px;
        color: #ffffff;
    }
    &__media {
        width: 120px;
        display: block;
        margin: 0 auto;
        background-color: #d4c198;
        font-size: 13px;
        color: #ffffff;
        text-transform: capitalize;
    }
    &__forms {
        display: block;
        width: 111px;
        height: 42px;
        margin-left: auto;
        background-color: #c99c47;
        color: #ffffff;
        font-size: 13px;
        font-weight: normal;
        line-height: 24px;
    }
}