.detail-speaker {
    padding: 50px 0px 68px 0px;
    &__img-outline {
        width: 327px;
        height: 327px;
        margin: 46px auto 38px auto;
    }
    // .detali-speaker__wrapper-img
    &__wrapper-img {
        width: 749px;
        height: 220px;
        margin: 48px auto 54px auto;
    }
}