.detali-exhibitors {
    padding: 50px 0px 68px 0px;
    &__img-outline {
        width: 518px;
        height: 317px;
        margin: 46px auto 38px auto;
        padding: 46px 126px 48px 134px;
        border: solid 1px #f3ebda;
        background-color: #ffffff;
    }
    &__wrapper-img {
        width: 749px;
        height: 220px;
        margin: 48px auto 54px auto;
    }
}