.feedback {
    background-color: #f8f3e9;
    padding-top: 48px;
    .title {
        font-weight: bold;
    }
    &__wrapper {
        display: flex;
        justify-content: start;
        margin-top: 16px;
    }
    &__form {
        margin-right: 29px;
    }
    &__contacts {
        p {
            margin: 0;
            font-size: 15px;
            font-weight: 300;
            line-height: 20px;
            color: #323232;
            &:nth-child(1) {
                font-weight: bold;
                padding-top: 23px;
                margin-bottom: 10px;
            }
            &:nth-child(3) {
                margin-bottom: 10px;
            }
            a {
                display: inline;
                margin: 0;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                color: #c99c47;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
        a {
            display: block;
            margin: 0;
            font-size: 23px;
            font-weight: bold;
            line-height: 24px;
            color: #000;
            margin-bottom: 12px;
        }
    }
}