.nav {
    padding: 0;
    min-height: 56px;
    background-color: #323232;
    &__site {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        padding: 10px 0px 11px 0px;
        margin: 0;
        li {
            padding: 12px 20px 9px 20px;
            border-right: 1px solid #474747;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    &__item {
        display: block;
        font-size: 15px;
        font-weight: 300;
        line-height: 15px;
        color: #ffffff;
        text-decoration: none;
    }
}