.nav {
    padding: 0;
    min-height: 56px;
    background-color: #323232;
    &__site {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        list-style-type: none;
        padding: 10px 0px 11px 0px;
        margin: 0;
        margin-left: -30px;
        overflow: hidden;
        background-color: #333;
        li {
            padding: 12px 20px 9px 20px;
            border-right: 1px solid #474747;
            &:last-child {
                border-right: none;
            }
            &:hover {
                background-color: #212121;
            }
        }
    }
    &__item {
        display: block;
        font-size: 15px;
        font-weight: 300;
        line-height: 15px;
        color: #ffffff;
        text-decoration: none;
    }
    ul {}
    li a,
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover,
    .dropdown:hover .dropbtn {
        background-color: #212121;
    }
    li.dropdown {
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 296px;
        border: solid 1px #d6d6d6;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            text-decoration: none;
            display: block;
            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            color: #323232;
            border-bottom: 1px solid #d6d6d6;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background-color: #d6d6d6
            }
        }
    }
    .dropdown:hover .dropdown-content {
        display: block;
        transform: translate(-21px, 9px);
    }
}