.promo {
    background-color: #fff;
    padding: 66px 0px 49px 0px;
    &__text {
        position: relative;
        margin-bottom: 58px;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        color: #323232;
        &::after {
            content: url('../icons/up.png');
            top: 94px;
            right: -188px;
            position: absolute;
            display: block;
            width: 42px;
            height: 42px;
            transform: translate(-50%, -50%);
        }
        span {
            text-transform: uppercase;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 360px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__img-out {
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 27px;
        border: 1px solid #c99c47;
        border-radius: 100%;
    }
    &__subtitle {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }
    &__descr {
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        color: #323232;
        text-align: center;
        margin-bottom: 20px;
    }
    &__footer {
        margin-top: 16px;
        font-size: 11px;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
        color: #919191;
    }
    &__footer-btn {
        display: flex;
        padding: 0px 410px 0px 410px;
    }
}