    .sponsors-list {
        &__wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 846px;
            margin: 0 auto;
            padding-bottom: 3px;
        }
        .list {
            &__item {
                &:nth-child(3n+3) {
                    margin-right: 0;
                }
            }
        }
    }