.sponsors {
    min-height: 166px;
    margin-top: 50px;
    margin-bottom: 30px;
    &__descr {
        margin-top: 22px;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        color: #323232;
    }
}